	.well
      {
         padding: 35px;
         padding-left: 30px;
         margin: 2% auto 0;
         width: 450px;
      }
	  .container-fluid{
	  	padding-bottom: 4%;
	  }
	  .form-control{
	  	border: 0px;
	  }
	  
	  p{
	  	background-color: white;
	  	padding: 0px;
	  	margin: 0px;"
	  }

      .input-group-addon
      {
      	background-color: #ffde6c;
      	color: #d17d00;
      }