<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:mvc="http://www.springframework.org/schema/mvc"
      xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
      xmlns:tx="http://www.springframework.org/schema/tx"
      xsi:schemaLocation="http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc.xsd
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://mybatis.org/schema/mybatis-spring
      http://mybatis.org/schema/mybatis-spring.xsd
      http://www.springframework.org/schema/tx
	  http://www.springframework.org/schema/tx/spring-tx.xsd">


	<!-- ch01: mvc -->
	<context:component-scan base-package="namgiyun.home" />		<!-- IOC/ DI 한다. -->
	<mvc:annotation-driven />									<!-- at requesetMapping/ at controller -->
	<mvc:resources mapping="/res/**" location="/WEB-INF/res/" />
	
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">	<!-- hanlder가 리턴한 viewresolver를 해석한다. -->
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- ch04: mybatis -->
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/namgiyun" />
		<property name="resourceRef" value="true" />
	</bean>
	
	<!-- sqlsession 객체 생성 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation"
				  value="classpath:namgiyun/home/config/sqlMapConfig.xml" />
		<property name="mapperLocations">
			<array>
				<value>classpath:namgiyun/home/dao/mapper/*.xml</value>
			</array>
		</property>
	</bean>
	<mybatis:scan base-package="namgiyun.home.user.dao.mapper"/>
	<mybatis:scan base-package="namgiyun.home.hotel.dao.mapper"/>
	<mybatis:scan base-package="namgiyun.home.reservation.dao.mapper"/>
	<mybatis:scan base-package="namgiyun.home.payment.dao.mapper"/>
	<mybatis:scan base-package="namgiyun.home.review.dao.mapper"/>
	<mybatis:scan base-package="namgiyun.home.recommend.dao.mapper"/>
	<mybatis:scan base-package="namgiyun.home.customerservice.dao.mapper"/>
	
	
	<!-- ch05: ajax -->
   <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
      <property name="messageConverters">
         <list>
            <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
         </list>
      </property>
   </bean>
	
	<!-- ch06: file upload --> 
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
	<context:property-placeholder location="classpath:namgiyun/home/config/upload.properties"/>
	<mvc:resources mapping="/upload/**" location="/res/img/hotel/" />
	
	
	
	<!-- ch07: @Transactional -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>